.item-list {
  margin: 0 auto;
  max-width: 700px;
  display: grid;
  grid-column-gap: 0.3rem;
  grid-row-gap: 1.3rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  user-select: none;
}

.item {
  min-height: 200px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 5px 3px #eee;
}

.item-title {
  overflow: hidden;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  text-overflow: ellipsis;
}

.item-price {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.item-image {
  background: #ddd;
  flex: 1;
  overflow: hidden;
}
