nav {
  background: white;
  margin-bottom: 1.5rem;
  user-select: none;
    font-stretch: condensed;
}

.logo {
  height: 3rem;
  width: 5.5rem;
  background: black;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
    font-weight: bold;
  a {
    color: #aaa;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      color: #555;
    }
  }
  .active {
    color: #333;
    &:hover {
      color: #333;
    }
  }
}

#item-cart {
  padding-left: 1.5rem;
  cursor: pointer;
}

#item-cart-items {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

#item-cart-items * {
  transition: 0.1s;
  height: 0;
  overflow: hidden;
  color: transparent;
}

.expanded {
  height: 40px !important;
  color: black !important;
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .logo {
    margin-bottom: 0;
  }
  .links {
    flex: 1;
    margin-bottom: 0;
    justify-content: space-evenly;
  }
  #item-cart {
    padding: 0.5rem 0;
    width: 5.5rem;
  }
}
